<div class="container">
		<h1 class= "title-new">Become a Handyman! <br></h1>
		<h3 class="slogan">And create your new network near your work place!</h3>
  <div>
    <p class="desc" id="title1" for="Field1">Full Name </p> 
    <div>
      <input class="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
    </div>
    
  <div>
    <p class="desc" class="title3" for="Field3">
      <%= image_tag "placeholder.png", height: "30", width: "30" %>Local Address or Region you can work:
    </p>
    <div>
      <input class="Field3" name="Field3" type="email" spellcheck="false" value="" maxlength="255" tabindex="3"> 
    </div>
  </div>
	  <div>
	    <p class="desc" class="title106" for="Field106">
	    	Select your expertise
	    </p>
	   <div>
	    <select class="Field106" name="Field106" class="field select medium" tabindex="11"> 
	      <option  value="First Choice">Gardener</option>
	      <option value="Second Choice">Mason</option>
	      <option value="Third Choice">Electrician</option>
	      <option value="Fourth Choice">Plumber</option>
	      <option value="Fifth Choice">Carpenter</option>
	      <option value="Sixth Choice">Aluminium worker</option>
	      <option value="Seventh Choice">Painter</option>
	      <option value="Eighth Choice">Pool maintenance</option>
	      <option value="Nineth Choice">Technical Support for household appliances</option>
	      <option value="Tenth Choice">Others</option>
<!-- 	      <option value="Third Choice">Third Choice</option> -->
	    </select>
	   </div>
	  </div>
    
  <div>
    <p class="desc" class="title4" for="Field4">
      Describe yourself and your work experience. <br>
      Please include some reference as well.
    </p>
    <div>
      <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
    </div>
  </div>
  <div>
    <fieldset>
      <p class="title6" class="desc">
        How many year's of experience do you have?
      </p>
      <div>
	    <select class="Field106" name="Field106" class="field select medium" tabindex="11"> 
	      <option value="First Choice">1-3 years</option>
	      <option value="Second Choice">3-5 year's</option>
	      <option value="Third Choice">More than 5 year's</option>
	    </select>
	   </div>
    </fieldset>
	</div>
	<div class="photo">
	 <p>Upload some picture of your work:</p> <br>
    <input type = "file" name = "fileuploaded" accept = "image/*" /> <br><br>
  </div>
  


<input class="btn btn-success" name="saveForm" type="submit" value="Submit", onclick="myFunction()"></input>

<script>
	function myFunction() {
	  alert("Congratulation your just sign up as handyman in our list!");
	}
</script>

</div>
</form>








<!-- div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h2 class="mission-title"><%#= image_tag "description.png", height: "30", width: "30" %>Become a handyman!</h2>
      <div class="form-row">
    		<div class="col">
      		<input type="text" class="form-control" placeholder="First name">
    		</div>
   			 <div class="col">
      		<input type="text" class="form-control" placeholder="Last name">
    		</div>
  		</div>
  		<div class="form-row">
	    <div class="col-7">
	      <input type="text" class="form-control" placeholder="Address">
	    </div>
	    <div class="form-group col-md-4">
      	<label for="inputState">Regions</label>
      	<select id="inputState" class="form-control">
        	<option selected>North</option>
        	<option>South</option>
      </select>
    </div>
	    <div class="col">
	      <input type="text" class="form-control" placeholder="Zip">
	    </div>
	  </div>
 -->
      <%= f.input :user_id %>
      <%= f.input :job_title %>


        



      
    </div>
  </div>
</div>

