<div class="card">
	<div class="image">
		<%= image_tag "lego.png" %>
	</div>

	<div class="details">
		<h2 class="name"><%= @handyman.user.first_name %> <%= @handyman.user.last_name %></h2>
		<p class=text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestiae sint nihil quas vero consequuntur autem et earum, exercitationem iure itaque ipsa provident fugit ipsum cum sit perspiciatis inventore magni.</p>
		<div class="icons">
			
		</div>
	
<div class="project">
	
	
</div>

	</div>






</div>




	<%= link_to "Create a Mission", new_mission_path,class:'btn btn-success' %>



</div>

