.card {
    padding: 50px;
}
#h1 {
    color: white;
}
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  
  body {
    font-family: 'Roboto', Arial, sans-serif;
  }
  