
<div class="container">
    <body>
    <div class= "container">
        <%= image_tag "handyman7.jpg", class: "bg-cover", style: "background-image: linear-gradient(rgba(0,0,0,2), rgba(0,0,0,2)), ; position: absolute; top: 0; bottom: 0; left: 0;right: 0; width: 100%; background-repeat: no-repeat;background-position: 50%;background-size: cover;" %>
    </div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 col-lg-7">
                    <h1>Pages#home</h1>
                    <p>Find me in app/views/pages/home.html.erb</p>
                </div>
            </div> 
        </div>     
    </body>
</div>
