
<div class="container">
    <div class="d-flex mt-5">
        <div>
            <h1 class="tagline"> What can our home<br><span class=orange>improvement<br> professionals</span> do<br> for you ? </h1>
            <div class="bg-grey" id="box-home">
                <%= link_to "I'M LOOKING FOR HANDYMAN 💪", handymen_path, class: "btn-orange btn-lg"  %>
                <p class="grey mt-3" > ℹ️ Handyman near you is a Mauritian platform, your data are safe. It won't be share to a third party.</p>
            </div>
        </div>
         <%= image_tag "Group 6.png", id:"img-home-1" %> 
    </div>      
    <div class="my-5">
        <h3>A <span class=orange>TAILORMADE</span> SERVICE</h3>
        <div class="card-container">
            <div class="bg-grey card-services">
               
                  <p class="emoji">🔍</p>
                  <p class="mt-3">ALL <strong>WORKERS</strong> IN MAURITIUS IN ONE AND SECURE PLACE</p>
              
            </div>

            <div class="bg-grey card-services">
                
                    <p class="emoji">🛠</p>                  
                    <p>TRUST THE BEST <strong>WORKERS</strong> BASED ON</p> <strong>REVIEWS AND CERTICATION</strong>
               
            </div>

            <div class="bg-grey card-services">
                    <p class="emoji">🔏</p>
                    <p>ALL <strong>WORKERS</strong> IN MAURITIUS IN ONE AND SECURE PLACE</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card-container">
            <h3><strong> THEY <span class=orange>TRUST</span> AN <br>HANDYMAN 🤜🤛</strong></h3>
            <div class="testimonials">
                <p> <i> “I WORKED WITH GAEL, A WONDERFUL HANDY MAN, HE BUILT MY BATHROOM, NOW I HAVE A SHOWER,SO COOL”  - BASILE </i> </p> <span class=orange>★★★★★</span>
            </div>
            <div class="testimonials">
                <p> <i>  "AMAZING PLATEFORM WHERE I CAN SEE ALL THE HANDYMEN NEAR ME! I CAN CREATE MY MISSION AND GET THE QUOTATION IN THE SAME TIME”  - BASILE</i></p> <span class=orange>★★★★★☆</span>
            </div>
        </div>
    </div>
    <div class="bg-orange p-5 d-flex justify-content-around align-items-center" id= "bottom-box">
        <div>
            <h3>YOU ARE AN <br>HANDYMAN?</h3>
            <p>EARN MONEY BY PROPOSING YOUR <br>SERVICES ON HANDY MAN NEAR YOU </p>
            <%= link_to "Propose Your Service's", new_handyman_path, class: "btn-grey btn-lg"  %>
        </div>
        <%= image_tag "handyman-01.jpg" %>
    </div>
</div>


    
  
