<%= content_for(:navbar_class, "navbar-home") %>


<div class="banner">
    <div class="container text-center">
        <div class="banner-content ">
          <h1> Welcome to Handyman near you </h1>
          <p> What can our home improvement professionals do for you ? </p>
          <%= link_to "Get Started", handymen_path, class: "btn btn-lg btn-primary"  %>
        </div>
    </div>
</div>

