.card-mission_envoye  {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    left: -400px;
  }
  
  .card .card_image {
    max-width:100%;
    width: 30px!important;
    height: 20px!important;
    border-radius: 40px;
    object-fit: cover;
    padding: 20px;
  }
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 300px;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
 #h1 {
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 180, 113);
 }

 .card-quotation {
  margin: 15px;
 }