.card-index{
    width: 30rem;
    border: 2px solid rgb(238, 126, 15);
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}
.card-job{
    border: 1px solid rgb(238, 126, 15);
    width: 7rem;
    border-radius: 5px;
    padding-left: 8px
}

.btn{
    height:50px;
}