.card-mission-handyman {
    overflow: hidden;
    height: 186px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border:2px solid rgb(238, 126, 15);
    padding: 20px;
  }
  
  .card-mission-handyman img {
    height: 100%;
    width: 280px;
    object-fit: cover;
  }
  
  .card-mission-handyman h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-mission-handyman p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-mission-handyman .card-mission-handyman-infos {
    padding: 16px;
  }

  .card-mission-handyman-button {
    display:flex;
    flex-direction: column;
  }

.custom-btn {
  margin-bottom: 15px;
  width: 150px;
}
  