// .title {
//   text-align: left;
//   color: #FFB740;
//   margin: 30px;
// }

.price .map {
	display: flex;
  justify-content: center
}

.price {
  margin-left: 50px;
}
.orange {
  font-size: 40px;
  font-family: sans-serif;
}

h1 {
  margin-top: 20px;
}