.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 79vh;
  position: fixed;
  top: 50px;
  right: 0px;
  width: 50%;

}