.mission-title {
	color: #FFB740;
}

.mission_start_date_1i {
	margin-right: 5px;
}

.label-none label {
	display: none;
}

.label-none .mission_start_date {
	align-items: baseline;
  display: flex;
}

