.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  width: 50px;
  height: 30px;
}

.navbar-dropdown .navbar-logo img {
  height: 42px
  }

.header {
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}