.navbar-lewagon {
  justify-content: space-between;
  background: rgb(238, 126, 15);
  align-items: center;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  margin-top: 10px;
  margin-right: 10px;
  a {
    color: white;
  }
}

.logo-navbar {
  margin-left: 10px;
  background-color: white;
  border-radius: 100%;
  padding: 7px;
 a {
  height: 60px;
  widows: 60px;

  }
}
.container-navy {
  margin-top: 60px;
  height: 2px;
}
.nav-item {
  color: white;
}
.navy {
  margin-top: -2.5px;
  margin-left: 5px;
}