.title-new {
	color: #FFBF86;
	text-align: center;
}
.card-handymen{
	display: flex;
	justify-content: space-between;
	width:100vw;
 }
 .background-color-orange {
	 background-color: rgb(238, 126, 15);
	 height: 100vh;
	 width: 340px;
	 margin-top: -10px;
 }
 .handymantitle{
	margin-right: 40px;
    width: 47vw;
    margin-top: 25px;
 }