.wrapper {
    width: 70%;
    max-width: 31.25rem;
    margin: 6rem auto;
    margin: 0px;
    padding: 0px;
  }
  
  .search_handyman {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    right: 30px;
  }

.searchBox {
  width: 357px;
  padding: 11px;
}