.wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 6rem auto;
    margin: 0px;
    padding: 0px;
  }
  
  .search_handyman {
    width: 60%;
    padding: 30px;
    padding-right: 30px;
    right: 30px;
  }