.bg-image {
    background-image: url(asset-path("show.jpg"));
    height: 400px;
    position: relative;
  }
  .container-body{
      border: 2px solid rgb(238, 126, 15);
      padding-top: 25px;
      position: relative;
      background: #FCFBFB;
  }
  .name{
      text-align: center;
  }

  .container-job{
    border: 1px solid rgb(238, 126, 15);
    width: 7rem;
    border-radius: 5px;
    padding-left: 8px
}
.big-box {
    display: flex;
    margin-top:45px;
    padding-bottom: 30px;
}
.description {
    margin-right: 40px;
    width:47vw;
    margin-left: 44px;
    margin-top: 25px;
}
.image {
    width:30vw;
}
.small-image-show{
    width:48%;
    object-fit: cover;
    margin-bottom: 10px;
}
.large-image-show{
    width:100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.photo{
    width: 110px;
    background-color: black;
    height: 110px;
    position: absolute;
    top: -55px;
    left: 50%;
    background-position: center;
    background-size: cover;
    transform: translateX(-50%);
    
}
.big-body{
    margin-top: -100px;
}